.custom-btn {
    margin-left:10px;
}

.title{
    font-weight: bold;
}

.Family{
    background-color: rgb(127, 176, 255);
}

.Work{
    background-color: rgb(255, 154, 247);
}

.University{
    background-color: rgb(255, 204, 108);
}

.Sport{
    background-color:rgb(217, 255, 127);
}

.done{
    opacity: 50%;
}